@use "partials";

/*------------generel styling------------*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: partials.$bg-farve;
}

p{
    font-size: 16px;
    line-height: 1.3;
}

h1{
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
}

h2, p{
    font-weight: 500;
    text-align: center;
}

/*----------------bubbles----------------*/
.bubble{
    border-radius: 50%;
    background-color: partials.$bubble;
    position: absolute;
    left: -15vw;
    z-index: -1;
    animation: move 8s linear infinite;
}

.no1{
    @include partials.bubble2;
}
.no2{
    @include partials.bubble2 ($delay: 5s, $top: 20vh);
}
.no3{
    @include partials.bubble1;
}
.no4{
    @include partials.bubble1 ($delay: 1s, $top: 40vh);
}
.no5{
    @include partials.bubble1 ($delay: 0s, $top: 50vh);
}
.no6{
    @include partials.bubble2 ($delay: 3s, $top: 60vh);
}
.no7{
    @include partials.bubble1 ($delay: 6s, $top: 70vh);
}
.no8{
    @include partials.bubble2 ($delay: 7s, $top:80vh);
}
.no9{
    @include partials.bubble1 ($delay: 4.5s, $top: 90vh);
}
.no10{
    @include partials.bubble1 ($delay: 7.25s, $top: 10vh);
}
.no11{
    @include partials.bubble1 ($delay: 2.15s, $top: 85vh);
}
.no12{
    @include partials.bubble1 ($delay: 3s, $top: 115vh);
}
.no13{
    @include partials.bubble2 ($delay: 5.8s, $top: 110vh);
}
.no14{
    @include partials.bubble2 ($delay: 7.5s, $top: 112vh);
}
.no15{
    @include partials.bubble1 ($delay: 1.3s, $top: 113vh);
}

/*------bubble animation------*/
@keyframes move{
    0%{
        transform: translateX(-10vw);
    }
    100%{
        transform: translateX(110vw);
    }
}

/*--------------------hovedindhold--------------------*/
/*overskrift*/
.intro{
    width: 55%;
    margin: 3em auto 1.8em auto;
}

/*opbygning af stages*/
.stage{
    padding: 1.5em;
    border: 1px solid purple;
    border-radius: 8px;
    background-color: partials.$bubble;
    width: 95%;
    display: none;
    margin: 0 auto;

        &.active{
            display: block;
        }

        h2{
            margin-bottom: 0.5em;
        }

        .stage-img{
            width: 75vw;
            height: auto;
            margin: 2em auto;
            display: block;
        }

        div{
            display: flex;
            justify-content: center;
            gap: 0.5em;
            margin: 0.5em 0;

                .btn{
                    width: 10em;
                    padding: 0.5em 2em;
                    font-family: "Roboto Mono", monospace;
                    border-radius: 8px;
                    border: 0.5px solid purple;
                    background-color: #beadee;
                    color: black;

                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
        }
}

/*----------------desktop----------------*/
@media screen and (min-width: 769px){
    p{
        font-size: 18px;
    }

    .intro{
        width: 30%;
    }

    .stage{
        width: 72%;

        .stage-img{
            max-width: 80%;
        }
        div{
            gap: 1.2em;

            .btn{
                padding: 1em;
                border-radius: 15px;
                width: 15em;
                font-size: 15px;
            }
        }
    }
}